In [6]:
import pandas as pd
from pandas import json_normalize

from sqlalchemy import create_engine
import psycopg2
from psycopg2 import sql

import xlrd
import config

from datetime import datetime
import os
import bz2
import json

In [7]:
# Database credentials
db_credentials = config.db_credentials

:

In [5]:
# create_table.create_table('faction_warfare_stats_history', db_credentials)

Connecting to database
Connected to database

In [8]:
base_path = r'D:\EVE_DB_BACKUP\raw_data\faction_warfare_stats'  # Update this to the path of your data folders



populate_table.process_json_populate_FW(base_path, db_credentials)

Index(['faction_id', 'pilots', 'systems_controlled', 'kills_last_week',
       'kills_total', 'kills_yesterday', 'victory_points_last_week',
       'victory_points_total', 'victory_points_yesterday', 'date'],
      dtype='object')
Index(['faction_id', 'pilots', 'systems_controlled', 'kills_last_week',
       'kills_total', 'kills_yesterday', 'victory_points_last_week',
       'victory_points_total', 'victory_points_yesterday', 'date'],
      dtype='object')

,faction_id,pilots,systems_controlled,kills_last_week,kills_total,kills_yesterday,victory_points_last_week,victory_points_total,victory_points_yesterday,date
0,500001,50986,54,1919,951266,184,648624,84991511,82416,2023-01-01
1,500002,31799,36,1450,769534,167,560211,54052113,79390,2023-01-01
2,500003,29192,34,1742,809713,163,513986,54039631,66499,2023-01-01
3,500004,43040,36,2388,1133268,244,688463,83775179,96938,2023-01-01
4,500001,50988,54,1954,951507,241,657844,85091410,99899,2023-01-02
...,...,...,...,...,...,...,...,...,...,...
1351,500002,32437,47,2063,870442,315,709051,85549657,109206,2023-12-22
1352,500003,30194,22,1344,914167,173,614984,85551549,88227,2023-12-22
1353,500004,43073,28,2416,1273401,283,650431,117264355,92443,2023-12-22
1354,500010,668,0,1373,11447,131,0,0,0,2023-12-22
1355,500011,1066,1,1131,57412,158,0,0,0,2023-12-22

In [46]:
print(df.head())

   faction_id  pilots  systems_controlled  kills.last_week  kills.total  \
0      500001   50868                  58             2271       947123
1      500002   32015                  38             2488       766125
2      500003   29173                  32             1939       806157
3      500004   42923                  32             3308      1127373
4      500001   50845                  58             2166       947361

   kills.yesterday  victory_points.last_week  victory_points.total  \
0              301                    707663              83540357
1              155                    584271              52833706
2              129                    685060              52862703
3              349                    787961              82145721
4              238                    697840              83631648

   victory_points.yesterday        date
0                     99356  2022-12-16
1                     90430  2022-12-16
2                     65548  2022-12-16
3                    103247  2022-12-16
4                     91291  2022-12-17